{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": false,
  "requirePragma": true,
  "printWidth": 100,
  "proseWrap": "preserve",
  "insertPragma": true,
  "bracketSpacing": true,
  "useTabs": true
}